<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.system.mapper.CourseDao">
    <select id="showCourse" resultType="com.system.po.Course">
    select * from course order by courseid asc
  </select>
    <select id="findCourse" resultType="com.system.po.Course" parameterType="String">
        select * from course where coursename LIKE concat(concat('%',#{coursename}),'%')
    </select>

</mapper>