<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.system.mapper.SelectedCoureseDao">
    <insert id="insert" parameterType="com.system.po.SelectedCourse">
     insert into selectedcourse (courseid, studentid)
     values (#{courseid}, #{studentid})
      </insert>
    <delete id="delete" parameterType="Integer">
    delete from selectedcourse where courseid=#{courseid}
</delete>
    <select id="findRecord" parameterType="com.system.po.SelectedCourse" resultType="com.system.po.SelectedCourse">
    select * from selectedcourse where courseid=#{courseid} and studentid=#{studentid}
</select>

</mapper>