<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.system.mapper.TeacherDao">
    <insert id="insertTeacher" parameterType="com.system.po.Teacher">
insert into teachers (teacherid, image)
     values (#{id}, #{image})
  </insert>

</mapper>